<div class="col m12">

  <h2 class="text-center"> My Reviews </h2>

  <table class="table">
    <thead>
      <tr>
        <th> Content </th>
        <th> Video Name </th>
        <th> Last Update </th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @reviews.each do |review| %>
        <tr>
          <td> <%= link_to review.content, video_review_path(review.video, review) %> </td>
          <td> <%= review.video.title %> </td>
          <td> <%= review.updated_at %> </td>
          <td>
            <%= link_to video_review_path(review.video, review), class: "btn btn-floating pulse delete-favorite", method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="material-icons small">delete</i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
