<h1>Video列表</h1>

<ul class="collapsible" data-collapsible="accordion">
  <% @videos.each do |video| %>
    <li>
      <div class="collapsible-header">
        <i class="mdi-av-my-library-books"></i>
        <%= link_to video.title, video %>
      </div>
      <div class="collapsible-body"><p><%= video.description %></p></div>
    </li>
  <% end %>
</ul>
