<h1>Video列表</h1>

<table>
  <thead>
    <tr>
      <th>Wistia</th>
      <th>Title</th>
      <th>description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= link_to video.wistia, video_path(video) %></td>
        <td><%= video.title %></td>
        <td><%= video.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
